#generate {
  position: absolute;
}

div {
  background-color: yellow;
  height: 100px;
  width: 100px;
  margin: 20px;
  float: left;
}

.red {
  background-color: red;
}

p {
  text-align: center;
}
